<div class="board" [ngStyle]="getBoardStyle()">
    <div class="board-bottom" [ngStyle]="getInnerBoardStyle()"></div>

    <board-cell *ngFor="let cell of board.boardData; let i = index;" id="{{getBoardIndex(i)}}" [ngClass]="getCellOrientation(i)" [ngStyle]="getCellPosition(i)"></board-cell>
    <board-corner *ngFor="let i of [0, 1, 2, 3]" id="{{i * (getCellsPerSide() + 1)}}" [ngStyle]="getCornerPosition(i)"></board-corner>

    <!-- <div class="player">
        
    </div> -->

    <div class="board-player-wrapper" [ngStyle]="getPlayerPositionStyle()">
        <avatar class="player" [ngStyle]="getPlayerStyle()"></avatar>
    </div>
</div>