@import "../board-grid/board-grid.component.scss";

:host {
    display: inline-block;

    position: absolute;

    transform-style: preserve-3d;
}

.board-cell {
    width: $cell_height;
    height: $cell_height;

    background-size: cover;

    transition: transform 0.1s;
    transform-style: preserve-3d;
    transform: translateZ(0.1px);
}

@for $i from 0 through 3 {
    .board-cell-corner-#{$i} {
        background-image: url("../../assets/tiles/corner_" + $i + ".png");
    }
}

.board-cell:hover {
    transform: translateZ(5px);
}

.board-cell-border {
    position: absolute;

    background-size: cover;
    background-image: url("../../assets/tiles/side.png");

    transform-origin: top left;

    height: $border_height; 
}

.board-cell-border-bottom {
    width: $cell_height;

    transform: rotateX(-90deg);
}

.board-cell-border-top {
    width: $cell_height;

    transform: rotateX(-90deg) translateZ($cell_height);
}

.board-cell-border-left {
    width: $cell_height;

    transform: rotateX(-90deg) rotateY(-90deg);
}

.board-cell-border-right {
    width: $cell_height;

    transform: rotateX(-90deg) rotateY(-90deg) translateZ(-$cell_height);
}

.board-cell:after, .board-cell-border:after {
    content: "";

    position: absolute;
    left: -0.5px;
    right: -0.5px;
    top: -0.5px;
    bottom: -0.5px;

    border-top: #424242 solid 4px;
    border-bottom: #424242 solid 4px;
    border-right: #424242 solid 4px;
    border-left: #424242 solid 4px;
}